.flexbox-container{
    background-color: yellow;
    position: relative;
}
.main-axis{
    background-color: red;
    width: 100%;
    height: 2px;
    position: absolute;
    top : 50%
}
.cross-axis{
    background-color: rgba(17, 93, 235, 0.76);
    height: 100%;
    width : 2px;
    position: absolute;
    left : 50%
}