



.container{
    border:10px solid green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    
}
.box{

    color:white;
    font-size: 70px;
    text-align: center;
    padding : 100 px;

}
.box1{background-color:#1abc9c;}
.box2{background-color:#981bb1;}
.box3{background-color:#307cee;}
.box4{background-color:#3e4443;}
.box5{background-color:#dadd22;}
.box6{background-color:#d1622f;}
.box7{background-color:#a6afad;}
.box8{background-color:#31e089;}
.box9{background-color:#e77bd5;}
.box10{background-color:#bc1a1a;}
